[user]
  name = hank
  email = hankchiu.tw@gmail.com
[core]
  editor = vim
[color]
  ui = auto
[push]
  default = upstream
[alias]
  co = checkout
  br = branch
  brv = branch -vva
  ci = commit
  st = status
  re = remote
  rev = remote -v
  un = reset HEAD
  di = "!git diff --color=always $1 $2| showlinenum.awk 'color_line_number=1;33' 'color_separator=1;33' | less -R #"
  dii = "!git difftool -y -x 'icdiff -N' $1 $2 | less -R #"
  dic = "!git difftool -y -x 'colordiff -y' $1 $2 | less -R #"
  sort = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)' --count=10
  cp = cherry-pick
  rep = remote prune origin # prune tracking branches not on the remote
  reduce = "!git branch --merged | grep bug | xargs git branch -d" # delete local branches that are merged
  clr = "!git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D" # delete local tracking branches that are not on remote
  file = log -p -M --follow --stat -- # gitlab like git blame
